@font-face {
    font-family: "Rubik-Regular";
    /* IE9 Compat Modes */
    src: url("../../src/assets/fonts/Rubik-Regular.eot");
    /* IE6-IE8 */
    src: url("../../src/assets/fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
        /* Super Modern Browsers */ url("../../src/assets/fonts/Rubik-Regular.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../../src/assets/fonts/Rubik-Regular.woff2") format("woff2"),
        /* Safari, Android, iOS */ url("../../src/assets/fonts/Rubik-Regular.ttf") format("truetype"),
        /* Legacy iOS */ url("../../src/assets/fonts/Rubik-Regular.svg#OpenSans-Regular") format("svg");
    font-weight: 600;
    font-style: normal;
}