
.table_block{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.add_button{
    height: 4vw;
    width: 8vw;
    min-width: 100px;
    min-height: 50px;
    border-radius: 20px;
    background: royalblue;
    color: white;
    transition: 0.3s;
    margin: 10px;
    border: none;
    outline: none;
}
.add_button:hover{
    scale: 1.15;
}

.add_button:active{
    scale: 0.75;
}

.table{
    border-top: 3px solid rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
    max-height: 70%;
    overflow: auto;
}

.footer{
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: start;
    align-self: start;
    padding: 1vh 0 1vh;
    font-size: 2vw;
    z-index: 9;
    background: white;
}

.table_header{
    display: flex;
    flex-direction: row;align-items: center;
    text-align: center;
}

.table_body{
    overflow-wrap: break-word;
    padding: 20px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    word-wrap: break-word;
    white-space: normal;
}

.text_area{
    height: 100%;
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.table_name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    min-font-size: 5px;
    max-font-size: 500px;
    color: royalblue;
}

.add_data_button{
    cursor: pointer;
    width: 50%;
    display: flex;
    margin-top: 10%;
    height: 5vw;
    align-items: center;
    border-radius: 200px;
    justify-content: center;
    border: 4px solid cornflowerblue;
    outline: none;
    font-size: 1.5vw;
    transition: 0.25s;
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.sticky_line{
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    position: sticky !important;
    bottom: 0;
    z-index: 10;
    background: white;
}

.add_modal_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add_data_button:hover{
    scale: 1.15;
}

.add_data_button:active{
    scale: 0.85
}

.sumLabel{
    margin-left: 30px;
}